# Rails & Server Configuration
RAILS_ENV=development
PORT=3000
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=1
RAILS_LOG_LEVEL=debug
# RAILS_MASTER_KEY=tu_master_key_aqui (Obtenla de config/master.key o credentials.yml.enc)

# Database Configuration
# Puedes usar DATABASE_URL para una configuración rápida
# DATABASE_URL=postgres://user:password@localhost:5432/truek_api_development
TRUEK_DATABASE_HOST=localhost
TRUEK_DATABASE_PORT=5432
TRUEK_DATABASE_USER=postgres
TRUEK_DATABASE_PASSWORD=password

# Redis / Action Cable
REDIS_URL=redis://localhost:6379/1

# Security & CORS
# Lista de dominios permitidos para el frontend (separados por coma)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Authentication
GOOGLE_CLIENT_ID=tu_google_client_id_aqui.apps.googleusercontent.com

# Mailer Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_USERNAME=tu_usuario@gmail.com
SMTP_PASSWORD=tu_app_password_especifica
ACTION_MAILER_HOST=localhost
ACTION_MAILER_PORT=3000
ACTION_MAILER_PROTOCOL=http
