<h1><%= @notification.title %></h1>
<p>
  <%= @notification.message %>
</p>
<p>
  <%= link_to I18n.t('notification_mailer.new_notification_email.view_notification'), @full_link_url, class: 'button' %>
</p>
<p><%= I18n.t('notification_mailer.new_notification_email.thanks') %></p>

